.add-user-form {
  display: flex;
  width: 1440px;
}

.photo-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 105px auto 105px;
}

.photo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 230px;
  width: 230px;
  border: 3px dashed #d4d4d8;
}

button {
  margin: 10px auto;
  padding: 10px 37px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #545560;
  font-size: 16px;
  border: none;
  outline: none;
}

p,a {
  font-size: 16px;
  color: #545560;
}

.photo img {
  width: 55.82px;
  height: 55.82px;
}

.upload {
  display: none;
}

.form-details {
  display: flex;
  flex-direction: column;
  width: 1440px;
  justify-content: center;
  margin: 30px 110px;
}

.form-group-1,
.form-group-2,
.form-group-3,
.form-group-4 {
  display: flex;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-bottom: 10px;
}

input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  padding-right: 135px;
}
.gender-group {
  display: flex;
}

.gender-attr {
  padding: 5px 10px;
  border: solid 0.5px #545560;
}

.gender-attr-1 {
  border-radius: 5px 0 0 5px;
}

.gender-attr-2 {
  border-radius: 0 5px 5px 0;
  color: #545560;
}

.gender-group .selected {
  background-color: #545560;
  color: #ffffff;
}

.create {
  margin-left: 0;
  background: #004adc;
}

.footer-right {
  width: 1440px;
  text-align: right;
  color: #92929a;
  padding-bottom: 15px;
  padding-right: 50px;
}
