.add-user-form  .form-add-group  {

  display: flex;
  flex-direction: column;
  margin: 30px 105px;
  line-height: 20px;
}

.radio-choice  {

  padding: 5px;
}

.form-add-group-element{

  margin-bottom: 10px;
}

input[type=radio] {
  
  border: 0px;
  height: 18px;
}

.radio-selected {

  font-weight: 600;
}

.categories-select   {

  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #92929A;
}

.description  {

  margin-top: 10px;
}

.missed-field  {

  border: solid .5px #D72222;
  color: #D72222;
  
}

.required  {

  color:#D72222;
}









