* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body  {
  font-family: SF Pro Display;
}

/*heading and navbar*/
heading-navbar {
  width: 1440px;
  height: 250px;
  border: none;
}

.heading-navbar {

  width: 1440px;
  height: 46.3px;
  border: none;
  background-color: #222330;  
}

header  {
  width: 1440px;
  height: 46.3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px; 
}

header .project-name {

  width: 153px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.account-info {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
}

.account-info .account-avatar {
  width: 28px;
  height: 28px;
  border-radius: 999px;
  margin-right: 10px;
}
 
.account-info .account-name {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.nav-bar {

  height: 64.81px;
  width: 1440px;
  border-radius: 0px;
  background-color: #ffffff;
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-left: 50px; 
}

.nav-bar .nav-bar-menu  {

  margin-right: 70px;
}

.nav-bar .nav-bar-menu .nav-bar-item {

  height: 19px;
  width: 99px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
}

.nav-bar .nav-bar-menu i  {

  margin-right: 10px;
}

.show-check-in  {

  color: #004ADC;
}

.add-user  {

  color: #004ADC;
}

.show-user  {

  
}
.add-group  {

  color: #004ADC;
}

.nav-router-heading  {

  display: flex;
  flex-direction: column;
  justify-content: center;
  Width: 1440px;
  Height: 138.89px;
  padding-left: 50px;
  background-color: #F3F4F9;
}

.nav-router-item  {

  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height:19.09px;
  padding-right: 13.08px;
}

.nav-heading  {

  font-size: 48px;
  font-weight: 700;
  line-height: 57.28px;
}


