.cover {
  height: 720px;
  width: 1440px;
  position: absolute;
  background-color: #222330;
  opacity: 0.6;
  z-index: 2;
}

.cover-layer {
  position: relative;
  z-index: 1;
}

.modal {
  position: absolute;
  height: 480px;
  width: 1060px;
  background-color: white;
  border-radius: 5px;
  z-index: 3;
  top: 145px;
  left: 195px;
  display: flex;
  justify-content: center;
}

.left-modal {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f3f4f9;
}

.left-modal > span {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 30px;
}

.group-owner,
.group-member {
  padding-bottom: 20px;
}

.group-title {
  border: 1px solid #d8d9e0;
}

.group-title-item {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.group-owner-detail,
.group-member-detail {
  display: flex;
  border: 1px solid #d8d9e0;
  padding: 10px 0px;
  padding-left: 45px;
}

.right-modal {

  width: 55%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.search {

  color: #92929a;
  /* border-bottom: 1px solid #92929a; */
  width: 182px;
  margin-left: 41%;
  display: flex;
  margin-bottom: 20px;
  width:fit-content;
  border-bottom: 1px solid #92929A;
  border-radius: 0;
}

.search-form  {

  border: none;
  width: fit-content;
  background: transparent;
  padding-right: 0; 
}

.group-member-detail {
  border: none;
  border-bottom: solid 1px gray;
}

.frame-member {
  display: flex;
  align-items: center;
  width: 200px;
}

.ava-list {
  height: 60px;
  width: 60px;
}

.member-title {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.ava-member {
  height: 40px;
  width: 40px;
}

.button-group {
  width: 100px;
}

.but {
  height: 24px;
  width: 84px;
  font-size: 12px;
  padding: 0;
}

.remove-button {
  color: #d72222;
  background: #faebe2;
  margin-right: 40px;
  font-weight: 400;
}

.member-button,
.owner-button {
  background-color: #ffffff;
  color: #545560;
  border: solid 1px black;
}

.member-detail {
  width: 100%;
  display: flex;
}

.group-list  {

  padding:10px 0px;
}

/*Scroll bar*/

.scrollbar  {

  margin-left: 30px;
	float: left;
	height: 300px;
	width: 500px;
	overflow-y: scroll;
	margin-bottom: 25px;
  margin-left: 15px;
}

/* width */
#scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#scrollbar::-webkit-scrollbar-thumb {
  background: rgb(41, 31, 31); 
  border-radius: 5px;
}

/* Handle on hover */
#scrollbar::-webkit-scrollbar-thumb:hover {
  background: #110d0d; 
}
.selected-button  {

  background: #004ADC;
  color:#ffffff;
  outline: none;
  border: none;
}





