
.search-form  {

  width: 1340px;
  height: 100px;
  display: flex;
  padding-left: 72px;
  padding-top: 13.25px;
  border: .5px solid #D4D4D8;
  margin-right: 50px;
  margin-left: 50px;
}

.group-form  {

  display: flex;
  flex-direction: column;
  height: 39px;
  padding-right: 10px;
}

.required  {
  color: red;
}

.search-item  {

  padding: 10px;
  border-radius: 5px;
}

.btn-search  {
  height: 39px;
  padding: 10px 20px;
  margin-top: 18.5px;
  outline:none;
  border: none;
  background: #D4D4D8;
  border-radius: 5px;
}

.table-information  {

  width: 1340px;
  margin:35px 50px 15px 50px;
  font-size: 16px;
  text-align: left;
  border: none;
  border-spacing: 0px;
  line-height: 19.09px;
}

th  {

  padding: 7.25px auto;
  height: 50px;
  background: #F3F4F9;
  border: none;
}

th .th-item  {

  padding-right: 79px;
}


tr>:first-child  {

  padding-left: 72.5px;
}

th a  {
  text-decoration: none;
  color: #545560, 100%;
  text-decoration: none;
}

.img-ava-sm  {

  width: 80px;
  height: 80px;
  border-radius: none;
  margin: 15px 15px 15px 0;
}

.heading-item-group  {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 13.25px;
}

table td  {

  border-bottom: solid 1px #D8D9E0;
  font-weight: 400;
  color: #545560;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 100px;
}

.img-ava-sm-su  {

  height: 80px;
  width: 80px;
}

td .added  {

  margin-right: 20px;
}

.function-button-group  {

  padding-right: 0px;
}

.function-button  {

  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  margin-left:20px;
  outline: none;
  border: none;
  
}

.more-info-button  {

  background: #F0F5FD;  
}

.more-info  {

  color: #004ADC;
  font-weight: 600;
  text-decoration: none;
  padding-right: 10px;
  
}

.delete-button  {
  background: #FAEBE2;
  
}

.delete  {

  color: #D72222;
  font-weight: 600;
  text-decoration: none;
  padding-right: 10px;
  
}

.page-list-wrapper  {
  width: 1440px;
  height:36px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.page-list  {

  width: 33%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-list-item  {
  height: 36px;
  width: 36px;
  padding:10px 10px;
  text-align: center;
}

.page-list a  {

  text-decoration: none;
  font-size: 16px;
  font-family: SF Pro Display;
  font-weight: 600;
  color:#545560;
}

.page-list .selected  {

  border-radius: 999px;
  background-color: #004ADC;
  color: #ffffff;
}
.page-list .selected a  {

  color: #ffffff;
}

.footer  {
  width: 1440px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 33px;
  color: #92929A;
}
